$levelAnimationDuration: 120ms;
@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}
.level-modal {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  height: 100%;
  background-color: #090304;
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
  align-items: center;
  max-width: 500px;
  transition-property: transform;
  transition-duration: 290ms;
  transition-timing-function: ease-in;
  opacity: 0;
  visibility: hidden;
  header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      content: "";
      position: absolute;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #00b2a9;
    }
    h6 {
      position: relative;
      color: #00b2a9;
      font-size: 16px;
      font-family: SpaceGrotesk;
      background-color: #090304;
      padding: 0 10px;
      z-index: 1;
    }
    button {
      position: absolute;
      width: 35px;
      height: 35px;
      top: -5px;
      left: 20px;
      border: 0;
      appearance: none;
      background-color: #090304;
      z-index: 2;
      cursor: pointer;
      &:before,
      &:after {
        content: "";
        width: 16px;
        height: 2px;
        right: 9px;
        background-color: #fff;
        position: absolute;
        border-radius: 2px;
      }
      &:before {
        transform: rotate(35deg);
        top: 19px;
      }
      &:after {
        transform: rotate(-35deg);
        top: 11px;
      }
    }
  }
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
    max-width: 295px;
    > span {
      display: flex;
      width: 85px;
      height: 85px;
      font-family: SpaceGrotesk;
      font-size: 24px;
      background-color: rgb(0 178 169 / 30%);
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 8px 0px;
      color: #fff;
      opacity: 0;
      box-shadow: 0 0 0 1px rgb(255 255 255 / 50%);
      position: relative;
      transition-property: transform, opacity;
      transition-duration: $levelAnimationDuration;
      @for $i from 1 through 15 {
        &:nth-of-type(#{$i}) {
          transition-delay: $levelAnimationDuration * 0.30 * $i;
          // transform: translate3d(calc(#{$i}px + 10px + #{randomNum(0, 70)}px) , #{randomNum(0, 120)}px, 0px);
          transform: translate3d(calc(#{$i}px + 35px), 90px, 0px)
            scale3d(2.5, 3.5, 1);
        }
      }
      .star-wrapper {
        position: absolute;
        bottom: -6px;
        svg {
          width: 20px;
          height: 20px;
          path {
            fill: transparent;
            stroke: #000;
            stroke-width: 45px;
          }
        }
        &.three-star {
          svg path {
            stroke: transparent;
            fill: #eaff00;
          }
        }
        &.two-star {
          svg {
            path {
              stroke: #eaff00;
              fill: transparent;
            }
            &:not(:last-of-type) {
              path {
                fill: #eaff00;
              }
            }
          }
        }
        &.one-star {
          svg {
            path {
              stroke: #eaff00;
              fill: transparent;
            }
            &:first-of-type {
              path {
                fill: #eaff00;
              }
            }
          }
        }
      }
    }
  }
  &.active {
    transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
    opacity: 1;
    visibility: visible;
    > div > span {
      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
      opacity: 1;
      &.soon {
        opacity: 0.35;
        cursor: not-allowed;
      }
    }
  }
}
