.home-page-container {
    position: absolute;
    top: calc(50% - 25px);
    left: 50%;
    transform: translate(-50%,-50%);
    .fivepage-logo-type {
        color: #C8102E;
        font-weight: bold;
        font-size: 42px;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        padding-right: 10px;
        width: 105px;
        height: 112px;
        justify-content: flex-end;
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
        margin: auto;
    }
    .action-button-container {
        display: flex;
        margin-top: 20px;
        width: 115px;
        justify-content: space-between;
        button {
            width: 50px;
            height: 50px;
            appearance: none;
            border: 0;
            background: transparent;
            box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.35);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            &.more {
                svg {
                    width: 32px;
                    height: 52px;
                }
            }
            svg {
                width: 24px;
                height: 53px;
                path {
                    stroke: #00B2A9;
                    stroke-width: 18px;
                }
            }
        }
    }
    .play-mode-container {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: auto;
        button {
            padding: 12px 0px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            color: rgba(255, 255, 255, 0.7);
            font-size: 14px;
            font-weight: 300;
            &:first-of-type {
                margin-bottom: 16px;
            }
        } 
    }
}