.intro-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .azard-logo {
        width: 140px;
        height: 140px;
        display: flex;
        svg {
            width: 100%;
            height: 100%;
            path {
                fill: #bebf1a;
                @media (prefers-reduced-motion: no-preference) {
                    animation-name: azard-logo;
                    animation-iteration-count: 1;
                    animation-duration: 1s;
                }
                @keyframes azard-logo {
                    0% {
                        fill: #fff;
                    }
                    100% {
                        fill: #bebf1a;
                    }
                }
            }
        }
    }
}