.play-main-container {
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 12px;
    padding-top: 4px;
    width: 100%;
    .text { 
        font-size: 22px;
        color: #fff;
        display: flex;
        justify-content: center;
        font-weight: 300;
        margin-bottom: 40px;
    }
}