.status-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #090304;
    svg {
        width: 100%;
        height: 100%;
    }
    &.check {
        path:not(:last-of-type) {
            stroke: #0c511e;
            stroke-width: 4px;
            stroke-dasharray: 0px;
            animation-duration: 1500ms;
            animation-name: checkedModalAnimation;
        }
        path:last-of-type {
            stroke-width: 3px;
            stroke-linejoin: round;
            stroke: #1a9433;
            fill: rgb(26 148 51 / 22%);
            stroke-linecap: butt;
        }
    }
    @keyframes checkedModalAnimation {
        0% {
            stroke-dasharray: 70px;
        }
        80% {
            stroke-dasharray: 20px;
        }
        100% {
            stroke-dasharray: 0px;
        }
    }
    &.wrong {
        > svg {
            transform: scale3d(1, 1, 1)translate3d(0px, -5px, 0px);
            path {
                stroke: transparent;
                fill: rgb(100 18 18 / 10%);
                stroke-width: 6px;
                stroke-dasharray: 190px;
                animation-duration: 800ms;
                stroke-dashoffset: 0px;
                animation-name: wrongdModalAnimation;
                animation-iteration-count: 3;
            }
        }
    }
    @keyframes wrongdModalAnimation {
        0% {
            stroke: #641212;
            stroke-dashoffset: 0px;
            fill: rgb(100 18 18 / 10%);
        }
        20% {
            stroke: #641212;
            stroke-dashoffset: -200px;
            fill: rgb(100 18 18 / 70%);
        }
        30% {
            stroke-dashoffset: 200px;
            stroke: #641212;
            fill: rgb(100 18 18 / 10%);
        }
        40% {
            stroke: #641212;
            stroke-dashoffset: 0px;
            fill: rgb(100 18 18 / 60%);
        }
        80% {
            stroke: #641212;
            fill: rgb(100 18 18 / 20%);
            stroke-dashoffset: 1800px;
        }
        90% {
            stroke: #641212;
            fill: rgb(100 18 18 / 40%);
        }
        100% {
            stroke: #641212;
            stroke-dashoffset: 50px;
            fill: rgb(100 18 18 / 10%);
        }
    }
}
