.home-page-container {
    .intro-wrapper {
        background-color: #090304;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 1;
        transition-property: opacity, z-index;
        transition-delay: 200ms opacity;
        transition-delay: 400ms z-index;
        transition-duration: 200ms;
        svg path {
            transition: fill 200ms;
        }
        &.deactive-intro {
            opacity: 0;
            z-index: -2;
            svg path {
                fill: #090304;
            }
        }

    }
    .fivepage-logo-type {
        color: #C8102E;
        font-weight: bold;
        font-size: 42px;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        padding-right: 10px;
        width: 105px;
        height: 112px;
        justify-content: flex-end;
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
        margin: auto;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border: 1px solid rgb(200 16 47 / 8%);
            right: -3px;
            top: -3px;
            box-shadow: 0 0 10px 1px rgb(0 116 214 / 10%);
        }
    }
    .action-button-container {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        button {
            width: 50px;
            height: 50px;
            appearance: none;
            border: 0;
            background: transparent;
            box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.35);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                box-shadow: 0 0 0 1px #ffffff;
                transform-origin: center center;
                transform: scale3d(1,1,1);
                animation-name: actionButton;
                animation-duration: 2s;
                animation-iteration-count: 4;
                opacity: 0;
            }
            @keyframes actionButton {
                0% {
                    opacity: 1;
                    transform: scale3d(1,1,1);
                }
                100% {
                    opacity: 0;
                    transform: scale3d(2,2,1);
                }
            }
            svg {
                width: 25px;
                height: 25px;
                path {
                    stroke: #00B2A9;
                }
                @keyframes playActionAnimation {
                    0% {
                        stroke-dashoffset: 0px;
                    }
                    90% { 
                        stroke-dashoffset: 570px;
                    }
                    100% {
                        stroke-dashoffset: 760px;
                    }
                }
            }
            svg {
                stroke-width: 10px;
                stroke-dasharray: 190px;
                stroke-dashoffset: 0px;
                animation-name: playActionAnimation;
                animation-iteration-count: infinite;
                animation-duration: 3s;
                animation-timing-function: linear;
            }
        }
    }
}