.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    transform: translate3d(0,0,0);
    background-color: #090304;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        color: rgb(255 255 255 / 48%);
        margin: 0 8px;
        transform: translate3d(0px, 0px, 0px)scale3d(1,1,1);
        display: inline-block;
        animation-duration: 300ms;
        animation-name: fiveLoading;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        @keyframes fiveLoading {
            0% {
                transform: translate3d(0px, 0px, 0px)scale3d(1,1,1);
            }
            20% {
                transform: translate3d(0px, -20px, 0px)scale3d(1,1.35,1);
            }
            50% {
                transform: translate3d(0px, -10px, 0px)scale3d(1,1.35,1)skewX(70deg);
            }
            52% {
                transform: translate3d(20px, -10px, 0px)scale3d(1,1.35,1)skewX(-20deg);
            }
            80% {
                transform: translate3d(0px, 10px, 0px)scale3d(1.35,1.25,1);
            }
            100% {
                transform: translate3d(0px, 0px, 0px)scale3d(1,1,1);
            }
        }
        &:nth-of-type(1) {
            animation-delay: 50ms;
        }
        &:nth-of-type(2) {
            animation-delay: 100ms;
        }
        &:nth-of-type(3) {
            animation-delay: 150ms;
        }
        &:nth-of-type(4) {
            animation-delay: 200ms;
        }
    }
}