@font-face {
    font-family: SpaceGrotesk;
    font-display: swap;
    src: url('../assets/fonts/SpaceGrotesk-Light.woff2') format('woff2'),
         url('../assets/fonts/SpaceGrotesk-Light.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: SpaceGrotesk;
    font-display: swap;
    src: url('../assets/fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
         url('../assets/fonts/SpaceGrotesk-Regular.woff') format('woff');
    font-weight: normal;
}
        
@font-face {
    font-family: SpaceGrotesk;
    font-display: swap;
    src: url('../assets/fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
         url('../assets/fonts/SpaceGrotesk-Bold.woff') format('woff');
    font-weight: bold;
}
  