.main-container {
  background-color: #090304;
  height: 100vh;

  .wrapper {
    max-width: 500px;
    margin: auto;
    height: 100%;
    box-shadow: 0 0 35px -30px #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: translateZ(0);
  }
}