.grid-container { 
    width: 100vw;
    max-width: 500px;
    .items-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 340px;
        margin: auto;
        .item { 
            width: 78px;
            height: 78px;
            box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
            margin: 10px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 200ms;
            &.active {
                box-shadow: 0 0 0 3px rgba(51, 156, 32, 0.70);
            }
            &.selected {
                box-shadow: 0 0 0 3px rgb(0 178 169 / 50%);
            }
            .multi-object-wrapper {
                position: absolute;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                > div {
                    width: 46%;
                    height: 100%;
                    background-size: cover;
                }
            }
        }
    }
    &.standard .item:hover {
        background-color: transparent;
        cursor: unset;
    }
}